html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background-color: #19a2ae;
  font-family: "Kumbh Sans", sans-serif;
  z-index: -1;
}

body::before {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../images/bg-pattern-bottom.svg);
  z-index: 10;
}

body::after {
  position: absolute;
  top: -40%;
  left: -80%;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../images/bg-pattern-top.svg);
  -webkit-transform: rotate(90deg) rotateY(180deg);
          transform: rotate(90deg) rotateY(180deg);
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40rem;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 20;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.img-bg {
  position: relative;
  top: 0;
  left: 0;
  height: 14rem;
  width: 100%;
  background-image: url(../images/bg-pattern-card.svg);
}

.img-bg .img {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.5rem solid white;
  border-radius: 50%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26rem;
  width: 100%;
  color: #2d3248;
}

.user__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 100%;
  padding-top: 5rem;
  border-bottom: 0.1rem solid rgba(150, 150, 150, 0.25);
}

.user__data .user__name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.user__data .user__name .user__age {
  margin-left: 0.5rem;
  font-weight: 400;
  color: #6a6f81;
}

.user__data .user__location {
  font-size: 1.5rem;
  color: #6a6f81;
}

.user__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 40%;
}

.user__stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.user__stats .stat__count {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2d3248;
  margin-bottom: 0.6rem;
}

.user__stats .stat__title {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #6a6f81;
}

.attribution {
  position: absolute;
  bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 30;
}

.attribution a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.attribution a:hover {
  color: #6a6f81;
}

@media (min-width: 400px) {
  body::before {
    left: 50%;
  }
  body::after {
    top: -35%;
    left: -60%;
  }
  .card-container {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  body::after {
    top: -55%;
    left: -50%;
  }
}

@media (min-width: 1200px) {
  body::after {
    top: -65%;
    left: -35%;
  }
}

@media (min-width: 1440px) {
  body::after {
    top: -75%;
    left: -35%;
  }
}
/*# sourceMappingURL=main.css.map */